.user-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.user-name {
  font-size: 1.25rem;
  margin-bottom: 5px;
  color: #263224;
  font-weight: bold;
}

.user-content-wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
