<div class="picpay-logo-wrapper">
  <img src="../assets/logo-picpay.png" class="picpay-logo" />
</div>
<div class="container" [style.opacity]="statePaymentModal ? '.5' : '1'">
  <div class="card-body">
    <div class="user" *ngFor="let user of users">
      <app-user
        class="user-app"
        [user]="user"
        (payUser)="payUser($event)"
      ></app-user>
    </div>
  </div>
</div>

<app-modal
  [UserData]="selectedUser"
  (PaymentSucess)="showModalConfirmation($event)"
  *ngIf="statePaymentModal"
></app-modal>
